html, body{
  margin: 0;
  padding: 0;
}
#wrap{
  text-align: center;
}
#wrap-center{
  width: 1280px;
  background-color: magenta;
  display: inline-block;
  /*block인 특징을 가진 요소들은 무조건 100% 면적을 활용한다. 따라서, 넓이를 강제로 축소시키면 margin이 그 나머지 부분을 채운다.*/
}
#header{
  text-align: left;
}
#header-hamburger{
  margin-top: 5px;
  padding: 8px;
  display: inline-block;
}
#header-hamburger > div{
  background-image: url(./sp_main.png);
  background-position: -311px -166px;
  background-size: 463px 440px;
  width: 32px;
  height: 32px;
}
#header-naverpay{
  margin-top: 5px;
  padding: 8px;
  display: inline-block;
}
#header-naverpay > div{
  background-image: url(./sp_main.png);
  background-position: -248px -260px;
  background-size: 463px 440px;
  width: 32px;
  height: 32px;
}
#main{
  height:200px;
}